body {
    margin: auto;
    width: 100%;
}

.border {
    border: solid 1px black;
}

header {
    width: 100%;
    height: auto;
    padding: 10px 0;
    border-bottom: solid 1px black;
}

header .logo img {
    width: 60px;
    height: 60px;
}

header nav .nav-list {
    list-style: none;
    display: flex;
    justify-content: space-around;
}

nav .list a {
    text-decoration: none;
}